* {
  font-family: "Cairo", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overlay {
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.479);
  color: #fff;
  display: none;
  z-index: 111;
}
.display-overlay {
  display: block;
}

.overlay .form {
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  height: 355px;
  border-radius: 20px;
  padding: 20px;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.overlay .form input {
  min-width: 386px;
  max-width: 380px;
}

.icon {
  cursor: pointer;
  background: #0d6efd;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
}

.date {
  max-width: 400px;
}

.xx {
  width: 70px;
}
input[type="checkbox"] {
  cursor: pointer;
  border: 2px solid #000;
}

.color {
  background-color: #dc3545;
}
/* .close-week {
  position: absolute;
  top: -45px;
  left: 0;
} */

.loadingPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  align-items: center;
  justify-content: center;
  z-index: 25652;
  display: flex;
}

.loader {
  margin: 0 auto;
  width: 100px;
  height: 70px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);

  > div {
    height: 100%;
    width: 10px;
    display: inline-block;
    float: left;
    margin-left: 5px;
    -webkit-animation: delay 0.8s infinite ease-in-out;
    animation: delay 1s infinite ease-in-out;
    border-radius: 5px;
  }

  .bar1 {
    background-color: #0d6efd;
  }
  .bar2 {
    background-color: #6610f2;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
  .bar3 {
    background-color: #6f42c1;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  .bar4 {
    background-color: #0dcaf0;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .bar5 {
    background-color: #fcb12b;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
  .bar6 {
    background-color: #dc3545;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }
}

@-webkit-keyframes delay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.05);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes delay {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.loading-on {
  display: flex;
}

.loading-of {
  display: none;
}
